In [4]:
# load the dataset
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

df = pd.read_csv('../data/cleaned_career_data.csv')
df.head()

,job_title,experience_level,employment_type,salary,company_location,num_skills,is_data_scientist,is_developer,is_analyst,interst_area,burnout_risk
0,Data Analyst,EN,FT,75000,US,9,0,0,0,healthcare,low
1,Data Analyst,EN,FT,60000,US,6,0,0,0,cybersecurity,low
2,Analytics Engineer,MI,FT,185700,US,7,0,0,0,webdev,medium
3,Analytics Engineer,MI,FT,165000,US,9,0,0,0,finance,low
4,Data Engineer,SE,FT,160000,US,5,0,0,0,cybersecurity,low

feature uesd ---> num_skill, experience_level
target ---> job_title

In [7]:
df = df[['num_skills', 'experience_level', 'job_title']].dropna()

#map experience_leve to number
experience_map = {
    'EN':0,
    'MI': 1,
    'SE': 2,
    'EX': 3
}

df['experience_num']= df['experience_level'].map(experience_map)

In [8]:
# encode job title to number
le = LabelEncoder()
df['job_label'] = le.fit_transform(df['job_title'])

In [21]:
#define features and target
x = df[['num_skills', 'experience_num']]  
y = df['job_label']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

model = LogisticRegression(class_weight='balanced', max_iter=3000)

model.fit(x_train, y_train)

#predict , evluate
y_pred = model.predict(x_test)
labels_in_test = np.unique(y_test)
class_names_in_test = le.inverse_transform(labels_in_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred, labels=labels_in_test))
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred, zero_division=0))

Accuracy: 0.0016611295681063123

Confusion Matrix:
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.00      0.00      0.00         0
           2       0.00      0.00      0.00         0
           3       0.00      0.00      0.00         4
           4       0.00      0.00      0.00        14
           5       0.00      0.00      0.00         2
           7       0.00      0.00      0.00         3
           8       0.00      0.00      0.00         5
           9       0.00      0.00      0.00         0
          11       0.00      0.00      0.00         1
          12       0.00      0.00      0.00         4
          13       0.00      0.00      0.00         0
          14       0.00      0.00      0.00         4
          15       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         3
          17       0.00      0.00      0.00         2
          18       0.00      0.00      0.00         0
          21       0.00      0.00      0.00         1
          22       0.00      0.00      0.00         4
          23       0.00      0.00      0.00       101
          24       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         0
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         7
          29       0.00      0.00      0.00        14
          30       0.00      0.00      0.00       167
          31       0.00      0.00      0.00         0
          32       0.00      0.00      0.00         2
          33       0.00      0.00      0.00         0
          36       0.00      0.00      0.00         6
          38       0.00      0.00      0.00         1
          39       0.00      0.00      0.00         1
          40       0.00      0.00      0.00         8
          42       0.00      0.00      0.00         2
          43       0.00      0.00      0.00        13
          44       0.00      0.00      0.00         1
          45       0.00      0.00      0.00       130
          47       0.00      0.00      0.00         2
          48       0.00      0.00      0.00         2
          49       0.00      0.00      0.00         0
          50       0.00      0.00      0.00         1
          51       0.17      0.25      0.20         4
          52       0.00      0.00      0.00         2
          56       0.00      0.00      0.00         1
          57       0.00      0.00      0.00         1
          58       0.00      0.00      0.00         1
          59       0.00      0.00      0.00         1
          60       0.00      0.00      0.00         1
          61       0.00      0.00      0.00         1
          62       0.00      0.00      0.00         1
          63       0.00      0.00      0.00         5
          64       0.00      0.00      0.00         0
          66       0.00      0.00      0.00        47
          67       0.00      0.00      0.00         2
          70       0.00      0.00      0.00         1
          71       0.00      0.00      0.00         3
          72       0.00      0.00      0.00         1
          75       0.00      0.00      0.00         1
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         0
          79       0.00      0.00      0.00         0
          81       0.00      0.00      0.00         2
          83       0.00      0.00      0.00         1
          85       0.00      0.00      0.00         2
          86       0.00      0.00      0.00        13

    accuracy                           0.00       602
   macro avg       0.00      0.00      0.00       602
weighted avg       0.00      0.00      0.00       602

In [22]:
#predict on new data
new_input = pd.DataFrame({'num_skills': [7], 'experience_num': [2]})
pred = model.predict(new_input.values)
predicted_job = le.inverse_transform(pred)[0]
print("Predicted Job Title:", predicted_job)

Predicted Job Title: Deep Learning Researcher